.main-content {
  flex:1;
  background-color: var(--background);  
  margin: 30px;
}

.footer {
  padding: 20px;
  background-color: var(--secondaryColor);
  color: var(--navTextColor);
  /* border-top: 2px solid #3e6866; */
}

.info-block {
  text-align: center;
  background-color: var(--background);
  padding: 100px;
  color: var(--smoke);
}

.input-wrapper {
  display: flex;
  /* flex-direction: column; */
}

.label {
  text-align: right;
  min-width: 150px;
  padding-right: 5px;
}

.nav-bar {
  width: 100vw;
  background-color: var(--secondaryColor);
  color: var(--background);
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  z-index: 1;
  /* border-bottom: 2px solid #3e6866; */
}

.nav-content {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  padding: 0px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
}

.table-row:hover {
  background-color: var(--secondaryColor);
  cursor: pointer;
  transition: all .1s ease;
  color: var(--background);
}

.selected-row {
  background-color: var(--secondaryColor);
  color: var(--background);
}

.admin-input {
  width: 400px;
}

.button {
  padding: 5px 10px 5px 10px;
  height: 30px;
  cursor: pointer;
  border-radius: 15px;
  transition: all .25s ease;
  text-decoration: none;
}

.btn-primary-colors {
  background-color: var(--secondaryColor);
  color: var(--background);
  border: 2px solid var(--background);
}

.btn-primary-colors:hover {
  color: var(--secondaryColor);
  background-color: var(--background);
  border: 2px solid var(--secondaryColor);
}

.btn-nav-colors {
  background-color: var(--secondaryColor);
  color: var(--navTextColor);
  border: 2px solid var(--navTextColor);
}

.btn-nav-colors:hover {
  background-color: var(--navTextColor);
  color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
}

.btn-black-white{
  color: var(--smoke);
  background-color: var(--background);
  border: 2px solid var(--smoke);
}

.btn-black-white:hover{
  background-color: var(--smoke);
  color: var(--background);
  border: 2px solid var(--background);
}

.product-card {
  padding: 15px;
  margin: 8px;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  transition: all .3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid var(--smoke); */
  text-decoration: none;
  background-color: var(--tertiaryColor);  
}

.product-card:hover {
  transform: scale(1.05);
}

.image-wrapper {
  width: 250px;
  height: 250px;
}

.product-image {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 30;
  left: 30;
}

.scent-overlay {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 30;
  left: 30;
  background-color: var(--background);
  opacity: 0;
  transition: all .2s ease;
}

.scent-overlay:hover {
  opacity: .8;
}

.order-item-card {
  align-items: center;
  margin: 15px;
  border: 1px solid var(--smoke);
  border-radius: 15px;
  width: 500px;
  height: 205px;
  display: flex;
}

.bubble-text {
  background-color: var(--navTextColor);
  padding: 2px 10px 2px 10px;
  color: var(--secondaryColor);
  text-align: center;
  border-radius: 15px;
  margin: 0px 5px 0px 5px;
}

.warning {
  background-color: #ffffac;
  color: var(--smoke_);
  border: 2px solid #e3d15f;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.validation-error {
  background-color: #e2a1a1;
  border-color: #ff5e5e;
}

.error-message {
  color: red;
  font-size: 12px;
}

.rotate {
  animation: rotation 1s infinite linear;
}

.spinner {
  border: 5px solid transparent;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.spinner-left {
  border-left-color: var(--smoke);
}

.floating {
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}