*::after, *::before {
  box-sizing: border-box;
}

:root {
  --smoke: #2b2129;
  --secondaryColor: #708a81;
  --background: #e5d1b8;
  --tertiaryColor: #dabfa8;
  --navTextColor: #fff;
  font-family: "Creato";
}

a {
  all: unset;
  cursor: pointer;
}

@font-face {
  font-family: 'Creato';
  font-style: normal;
  font-weight: normal;
  src: local('Creato'), url('./fonts/CreatoDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Creato';
  font-style: normal;
  font-weight: bold;
  src: local('Creato'), url('./fonts/CreatoDisplay-Bold.otf') format('opentype');
}

body {
  color: var(--smoke);
  margin: 0;
  background-color: var(--background);
}

table {
  border-spacing: 0px;
}

td {
  padding: 3px;
}