:root {
  --smoke: #2b2b2b;
  --secondaryColor: #78a0b4;
  --background: #fbfaf5;
  font-family: "Creato";
}

a {
  all: unset;
  cursor: pointer;
}

@font-face {
  font-family: 'Creato';
  font-style: normal;
  font-weight: normal;
  src: local('Creato'), url('src/assets/fonts/CreatoDisplay-Regular.otf') format('opentype');
}

body {
  margin: 0;
  background-color: var(--background);
}

table {
  border-spacing: 0px;
}

td {
  padding: 3px;
}