*::after, *::before {
  box-sizing: border-box;
}

:root {
  --smoke: #3f3f3f;
  --secondaryColor: #44889b;
  --background: #ffffff;
  font-family: "Creato";
}

a {
  all: unset;
  cursor: pointer;
}

@font-face {
  font-family: 'Creato';
  font-style: normal;
  font-weight: normal;
  src: local('Creato'), url('src/assets/fonts/CreatoDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Creato';
  font-style: normal;
  font-weight: bold;
  src: local('Creato'), url('src/assets/fonts/CreatoDisplay-Bold.otf') format('opentype');
}

body {
  margin: 0;
  background-color: var(--background);
}

table {
  border-spacing: 0px;
}

td {
  padding: 3px;
}